/* Write your CSS here */
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.count-container {
  height: 50vh;
  width: 40vh;
  background-image: linear-gradient(#ff6e7f, #bfe9ff);
  padding: 4px;
  align-self: center;
  align-items: center;
}
